block content 
  h1= title
  p Welcome to your Dashboard #{userDetails.username}, You are now logged in as a standard member.
  br
  br
  span #{userDetails.username}
  br
  span #{userDetails.member}
  br
  br
  a(href="/catalog/user/logout") Logout 