extends layout 

block content
  div.login-failure-container
    div.login-failure-heading-container
      h1= title
      h2 Your Username or Password is Incorrect.
    div.login-failure-redirect-container
      | Don't have an account ? Click 
      a(href="/catalog/user/register") here 
      | to create one. 
    br
    div(class="login-box fail-box")
      h1 Try Again
      form(class="login-form" method="POST" action="login")
        input(class="login-input" type="text" name="username" placeholder="Username" required)
        input(class="login-input" type="password" name="password" placeholder="Password" required)
        br
        input(class="login-submit-btn" type="submit" value="➯")

    if errors 
      ul 
        for error in errors 
          li!= error.msg 