extends layout 




block content

  h1= title

  form(method="POST" action="login")
    label(for="username") Enter Username:
    br
    input(type="text" name="username")
    br
    label(for="password") Enter Password:
    br
    input(type="password" name="password")
    br
    br
    input(type="submit" value="Submit")

  if errors 
    ul
      for error in errors 
        li!= error.msg 